.unordered { 
    list-style-type: square; 
    line-height: 170%;
} 

.unordered {

    background: rgb(243, 9, 87);
    
    padding: 20px;
    
    width: 25%;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    }
    
    .unordered li {
    
    background: #11f5f5;
    
    margin: 5px;
    
    }
    
    .nested-ul li {
    
    background: #abe4e0;
    
    margin: 5px;
    
    }

    .nested-ul {
        list-style-type: square; 
   }
   
   .ordered {

    background:rgb(243, 9, 87);
    
    padding: 20px;
    
    width: 15%;
    
    font-family: 'Brush Script MT', cursive;
    
    font-size: 1.3em;
    
    }
    
    .ordered li {
    
    background: #11f5f5;
    
    
    padding: 5px;
    
    margin-left: 20px;
    
    }

    .custom-box-list {

        margin: 0;
        
        padding: 0;
        
        list-style-type: none;
        
        }
        
        .custom-box-list li {
        
        counter-increment: step-counter;
        
        margin-bottom: 10px;
        
        }
        
        .custom-box-list li::before {
        
        content: counter(step-counter);
        
        margin-right: 5px;
        
        font-size: 80%;
        
        background-color: #0cc7c7;
        
        color: white;
        
        font-weight: bold;
        
        padding: 3px 8px;
        
        border-radius: 10px 100px / 120px;
        
        }

        .list-image {

            list-style: none;
            
            padding-left: 0;
            
            }
            
            .list-image li {
            
            position: relative;
            
            padding-left: 30px;
            
            line-height: 170%;
            
            }
            
            .list-image li:before {
            
            content: '';

            width: 30px;

            height: 30px;
            
            position:absolute;

            background-image: url('candy.png');

            background-size: cover;

            background-position: center;

            left: 0;

            top: 50%;

            transform: translateY(-50%);
        }

        .popular-sites {

            list-style: none;
            
            padding-left: 0;
            
            }
            
            .popular-sites li {
            
            position: relative;
            
            padding-left: 30px;
            
            line-height: 170%;
            
            }
            
            .popular-sites li:before {
            
            content: '';

            width: 25px;

            height: 25px;
            
            position:absolute;

            background-image: url('popcorn.png');

            background-size: cover;

            background-position: center;

            left: 0;

            top: 50%;

            transform: translateY(-50%);
        }
        
       
                table, th,td {

                    border: 1px solid black;
                    
                    border-collapse: collapse;
                    
                    }
                    
                    th,td {
                    
                    padding: 5px;
                    
                    text-align: center;
                    
                    }
                    
                    caption {
                    
                    caption-side: top;
                    
                    text-align: center;
                    
                    font-style:italic;
                    
                    font-weight: bold;
                    
                    color: black;
                    
                    }
                    
                    .table-simple th {
                    
                    background-color: rgb(243, 9, 87);
                    
                    color: whitesmoke;

                    
                    }
                    
                    .table-simple tr:nth-child(even) {
                    
                    background-color: #ecececf1;
                    
                    }
                    
                    .table-simple tr:nth-child(odd) {
                    
                    background-color: #fff;
                    
                    }
                    
                    .table-simple tr:hover {
                    
                    background-color: rgb(46, 255, 238);
                    
                    }
